.component-user{
  background: rgb(255, 255, 255);
  margin-left: 250px;
  height: 100%;
  width: 82%;
  margin-top: -641px;
  position: fixed;
}

.sidebar {
  width: 250px;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgb(0, 0, 0) 10%, rgb(187, 25, 25) 70%);
  color: #ecf0f1;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: -60px;
}

.user-info {
  text-align: center;
  height: 45px;
  width: 210px;
}

.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-left: -100px;
}

.user-info p {
  margin-left: 20px;
  margin-top: -40px;
  font-size: 1.2em;
}

.menu {
  display: flex;
  flex-direction: column;
}

.btn-home {
    width: 200px;
    height:50px;
    border-radius: 25px;
  }
  
  .btn-home a{
    color: white;
    text-decoration: none;
  }
  
  .btn-home:hover {
    border-bottom: 1px solid white;
  }
  
  .home {
    width: 20px;
    height: 20px;
    margin-right: -10px;
    margin-left: 20px;
  }

  .dropdown {
    border-radius: 20px;
    margin-top: 5px;
    background: none;
  }

  .btn-dropdown {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    padding: 0px 10px;
  }
  
  .btn-dropdown:hover {
    border-bottom: 1px solid white;
  }

  .tareas {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }

  .dropdown-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin-top: 5px;
    background-color: none;
    border-radius: 8px;
  }
  
  .dropdown-menu li{
    border-radius: 25px;
  }
  
  .dropdown-open .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu a {
    color: #ecf0f1;
    padding: 15px;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 25px;
  }
  
  .dropdown-menu a:hover {
    border-bottom: 0.5px solid white;
    color: #ffffff;
    border-radius: 25px;
  }

  .flecha {
    width: 20px;
    height: 20px;
    margin-top: auto;
    text-align: center;
    align-items: right;
    align-contents: right;
    margin-right: auto;
  }

  .logout{
    width: 80px;
    height: 50px;
    margin-top: auto;
    text-align: center;
  }

  .btnexit-user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .btnexit-user:hover{
    border-bottom: 1px solid red;
  }